.App {
  width: 100%;
  max-width: 32em;
  margin: 1em auto;
  padding: 0 1em;
}

.button {
  width: 100%;
  padding: 0.4em 0.8em;
  background: white;
  color: black;
  border: 1px solid black;
  font-size: inherit;
  cursor: pointer;
}

